QLineEdit {
    border: 1px solid #3A4040;
    border-radius: 4px;
    padding: 4px;
    background-color: #1E2222;
    selection-color: #FFFFFF;
    selection-background-color: #3A5F84;
}

QFrame
{
    /*background-color: yellow;*/
}

.CellActive
{
    background-color: yellow !important;;
}

* {
    background-color: #black !important;; /* Чёрный фон для всех виджетов */
}
